@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: 100mm 148mm;
    /* Set paper size to 100 x 148 mm (postcard size) */
    margin-left: 2mm;
    margin-right: 2mm;
    margin-top: 0;
    /* Set margins around the page to fit content */
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    /* Increase line-height for more space between lines */
  }

  /* Increase font size after the "45th SFS vehicle pass" */
  .after-vehicle-pass {
    font-size: 9pt;
    /* Increase font size slightly */
  }

  /* Remove any default border applied by Tailwind */
  * {
    border: none !important;
  }

  * {
    text-align: left !important;
    /* Force left-alignment */
  }

  * {
    margin: 0 !important;
    padding: 0 !important;
  }

  .content {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
}